body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

ul {
  list-style-type: circle;
  max-width: 250px;
}

p {
  width: 290px;
}

summary::-webkit-details-marker {
  display: none
}

summary:after {
  background: #1DE9B6;
  border-radius: 5px;
  content: "+";
  color: #fff;
  float: left;
  font-size: 1.3em;
  margin: -5px 10px 0 0;
  padding: 0;
  text-align: center;
  width: 20px;
}

details[open] summary:after {
  content: "-";
}

details {
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
  color: #363636;
  margin: 0 0 .4em;
  padding: 1%;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

/*#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
